@font-face {
    font-family: THSarabunNew;
    src: url(../fonts/THSarabunNew.ttf);
}

@font-face {
    font-family: THSarabunNew-Bold;
    src: url(../fonts/THSarabunNew-Bold.ttf);
}

@font-face {
    font-family: cordia;
    src: url(../fonts/cordia.ttf);
}

@font-face {
    font-family: THSarabunNew-BoldItalic;
    src: url(../fonts/THSarabunNew-BoldItalic.ttf);
}

@font-face {
    font-family: THSarabunNew-Italic;
    src: url(../fonts/THSarabunNew-Italic.ttf);
}

html,
body {
    font-family: cordia;
    font-size: 20px !important;
    font-weight: 500;
}


/***********************************************************************/

.xCNHeadMenu {
    font-size: 20px !important;
    color: #000000;
}

.xCNHeadMenuActive {
    font-size: 20px !important;
	color: #51c448;
	font-weight: bold;
	cursor: pointer;
}

.xCNButtonInsert {
    background-color: #51c448;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    color: #FFF;
    border: 0px solid;
    box-shadow: 2px 2px 6px rgba(178, 178, 178, 0.69);
    cursor: pointer;
}

.xCNFormSerach.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #51c448;
    outline: 0;
    box-shadow: 0 0 0 0rem rgba(0, 123, 255, .25);
}

.input-group-text {
    font-size: 0.65rem !important;
}

textarea .form-control{
	height : auto !important;
}

input.form-control {
    height: calc(35px + 0px) !important;
}

.xCNContent{
	margin-top : 10px;
}

.xCNTableCenter{
	line-height: 15px;
}

#oimImgMasteruser{
	border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    display: block;
    margin: 0px auto;
}

#oimImgMastercustomer{
	border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    display: block;
    margin: 0px auto;
}

.xCNIconStatus_open , .xCNIconStatus_open>p{
	background: #c0f0bc;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 10px;
	border-radius: 50px;
}

.xCNTextClassStatus_open{
	color : #4bae44;
	display: inline-block;
}

.xCNIconStatus_close{
	background: #fad2d2;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 10px;
    border-radius: 50px;
}

.xCNTextClassStatus_close{
	color : #d96969;
	display: inline-block;
}

.xCNImageEdit{
    width: 15px;
    display: block;
    margin: 0px auto;
    cursor: pointer;
}

.xCNImageDelete{
	width: 15px;
    display: block;
    margin: 0px auto;
    cursor: pointer;
}

.xCNTdHaveImage{
	padding: 10px !important; 
}

.xCNButtonSave{
	background-color: #51c448;
    color: #FFF;
    border: 0px solid;
    box-shadow: 2px 2px 6px rgba(178, 178, 178, 0.69);
	cursor: pointer;
	width: 140px;
    height: 35px;
}

#oimImgInsertorEditproducts{
	width: 300px;
    margin: 0px auto;
    display: block;
}

#oimImgInsertorEditUser{
	border-radius: 50%;
    width: 300px;
    height: 300px;
    text-align: center;
    display: block;
	margin: 0px auto;
	border: 1px solid #e0e0e0;
}

#oimImgInsertorEditCustomer{
	border-radius: 50%;
    width: 300px;
    height: 300px;
    text-align: center;
    display: block;
	margin: 0px auto;
	border: 1px solid #e0e0e0;
}

#oimImgInsertorEditProduct , #oimImgMastersupplier{
    width: 50px;
    height: 50px;
    text-align: center;
    display: block;
	margin: 0px auto;
	border: 1px solid #e0e0e0;
}


.xCNChooseImage{
	margin: 10px auto;
	display: block;
	padding: 0px 50px !important;
}

table thead th{
	font-weight: unset;
	font-size: 20px;
}

.xCNPagenation .page-link{
	padding: .25rem .65rem;
}

.xCNPagenation .page-item.active .page-link{
	background-color: #51c448;
    border-color: #51c448;
}

.xCNDialog_Footer{
	position: fixed;
	width: 25%;
	height: 85px;
	z-index: 999;
	margin-right: 0px;
	display: block;
	right: 15px;
	bottom: 0px;
}

.sufee-alert {
	position: fixed;
	width: 30%;
	right: 15px;
}


.modal-header{
	background: #57606F;
	color: #FFF;
	height: 40px;
    padding: 5px 20px;
}

.xCNConfirmDelete{
	width: 100px; 
	background: #cf5b5b;
    border: red;
}

table tbody .xCNTableGroupMenu{
	border-top: 1px solid #e8e8e8 !important;
    border-bottom: 1px solid #e5e5e5 !important;
    background: #f2f2f2 !important;
}

.xCNImageDeleteDisabled{
	opacity: 0.3;
    cursor: no-drop;
}

#oimImgInsertorEditsupplier{
	width: 300px;
    margin: 0px auto;
    display: block;
}

.xCNLineHeightInTable{
	line-height: 25px;
}

.xCNHeadFilter{
	background-color: #FFF;
	color: black;
	padding: 7px 10px;
}

.xCNLineBarFilter{
	border-bottom: 1px solid #e8e8e8;
}

.xCNSubFilter{
	padding: 10px 30px;
	overflow: scroll;
	background-color : #FFF;
    height: 1000px;
    overflow-x: auto;
}

.xCNFilter{
	width: 40px;
    background: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 3px;
    cursor: pointer;
    height: 35px;
}

.xCNFilterAdvParent{
	margin-top: -15px; 
	margin-bottom: -10px; 
}

.xCNIconFilter{
	padding: 2px 14px;
	font-size: 0.65rem !important;
}

.xCNFilterSearch{
	padding: 0px;
	position:fixed; 
	background: #FFF; 
}

.xCNFilterAdvSub{
	display: inline-block; 
	width: 100%;
	background: #FFF; 
}

.xCNCheckboxFilter{
	margin-left:10px;
	font-size: 18px !important;
}

.xCNUseFilterAdv{
	font-size: 20px;
	letter-spacing: 1px; 
	width:85%;
	margin: 15px auto;
	display: block;
	padding: 1px !important;
    border-radius: 0px;
}

.xCNUseFilter12{
	transform: translate(0%, 0%);
	transition-duration: 0.5s;
}

.xCNFilterBlockHide{
	transform: translate(-50%, 0%);
	transition-duration: 0s;
	height: 0px;
	opacity: 0;
}

.xCNFilterBlockShow{
	transform: translate(0%, 0%);
	transition-duration: 0.2s;
	opacity: 1;
}

.page-link{
	padding: 2px 12px !important;
}


.xCNHeadFooterINPDT{
	background: #67717d;
    color: #FFF;
    margin: -25px -25px 20px -25px !important;
	padding: 5px 20px;
}

.xCNResultSellPrice{
	background: #c7fbbb;
    text-align: right;
    font-weight: bold;
    padding: 0px 10px;
    height: 35px;
}

.xCNDropdown{
	top : 100% !important;
	transform : translate3d(-60px, 0px, 0px) !important;
}

.xCNDropdownSub:focus, .xCNDropdownSub:hover{
	color: #ffffff;
    text-decoration: none;
    background-color: #51c448 !important;
}

.xCNDropdownSub a:hover{
	color: #ffffff !important;
    text-decoration: none;
    background-color: #51c448 !important;
}

.xCNImport{
	background: transparent;
    color: black;
	padding: 0px 20px !important;
	border: #ced4da solid 1px;
}

.dropdown-toggle::after{
	display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.855em;
    vertical-align: 0.155em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.xCNFilterMarginBottom{
	margin-bottom : 0.2rem !important;
}

.xCNFilterMarginBottom , .xCNCheckboxFilter{
	margin-bottom: 5px !important;
}


.xCNCalcelImport{
	margin-right: 10px;
    border-radius: 0px;
	padding: 1.5px 20px !important;
	box-shadow: 2px 2px 6px rgba(178, 178, 178, 0.69);
}

.xCNSubPanelDocument{
	margin-bottom: 0.25rem;
}


.xCNBrowsePDTinDocument{
	float: right;
    width: 40px;
    height: 40px;
    background: #51c448;
    border-radius: 50px;
    border: 1px solid #FFF;
	cursor: pointer;
	color : #FFF;
}

.xCNBrowsePDTinDocument:hover{
	float: right;
    width: 40px;
    height: 40px;
    background: #26c919;
    border-radius: 50px;
    border: 1px solid #FFF;
	cursor: pointer;
	color : #FFF;
}

.xCNConfirmPDT{
	background: #51c448;
    color: #FFF;
    width: 90px;
}

.xCNBTNDefult{
	width: 90px;
}

.xCNModalHead{
	height: 50px !important;
    padding: 8px 20px !important;
}

.xCNSelectPDT{
	cursor: pointer;
}

.xCNSelectPDTActive{
	background : #51c448 !important;
	color : #FFF;
	border-bottom: 1px solid #ffffff;
    cursor: pointer;
}

.xCNSelectPDT:hover{
	background : #bafdb65c !important;

}

.xCNSelectPDT{
	border-bottom: 1px solid #ffffff;
}

.xCNEditInline{
	border-radius: 5px;
    border: 1px solid #ebebeb;
    box-shadow: 1px 1px 1px 1px rgba(222, 222, 222, 0.41)
}

.xCNImportBTN{
	height:35px;
}

.xCNButtonAprove-outline{
	background-color: transparent;
	border: 1px solid #51c448 !important;
	border-radius: 0px;
    color: #51c448;
    border: 0px solid;
    box-shadow: 2px 2px 6px rgba(178, 178, 178, 0.69);
	cursor: pointer;
	width: 100px;
    height: 35px;
}

.xWQuotationTtems-Title{
	margin-top: 10px;
	border-bottom: 1px solid #969696 !important;
    border-top: 1px solid #969696 !important;
}

.xCNWaringEmptyPDT{
	font-size: 18px;
    text-align: center;
    color: #837d7d;
	margin: 100px 0px;
	display: block;
}

.xCNSelectMenuTableOrList{
	width: 40px;
    background: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 3px;
    cursor: pointer;
	height: 35px;
	margin-left: 10px;
}

.xCNIconFilterTableOrList{
	font-size: 0.65rem !important;
	color: black;
}

.xCNSelectPDTInPI{
	border: 0px;
    background: transparent;
    color: #007bff !important;
	text-decoration: underline;
	cursor: pointer;
}

.xCNPIPDTCode{
    font-weight: bold;
}

.xCNPIPDTPrice{
	display: block;
}

.xCNImageCardPDT{
	border: 1px solid #f5f5f5;
    box-shadow: 2px 2px 1px rgba(206, 206, 206, 0.19);
	border-radius: 5px;
}

.xCNImageCardPDT:hover {
	border: 1px solid #51c448 !important;
	border-radius: 5px !important;
	cursor: pointer !important;
}
