@font-face {
    font-family: THSarabunNew;
    src: url(../fonts/THSarabunNew.ttf);
}

@font-face {
    font-family: THSarabunNew-Bold;
    src: url(../fonts/THSarabunNew-Bold.ttf);
}

@font-face {
    font-family: cordia;
    src: url(../fonts/cordia.ttf);
}

@font-face {
    font-family: THSarabunNew-BoldItalic;
    src: url(../fonts/THSarabunNew-BoldItalic.ttf);
}

@font-face {
    font-family: THSarabunNew-Italic;
    src: url(../fonts/THSarabunNew-Italic.ttf);
}

html,
body {
    font-family: cordia;
    font-size: 20px !important;
    font-weight: 500;
}


/***********************************************************************/

.xCNHeadMenu {
    font-size: 20px !important;
    color: #000000;
}

.xCNHeadMenuActive {
    font-size: 20px !important;
	color: #51c448;
	font-weight: bold;
	cursor: pointer;
}

.xCNButtonInsert {
    background-color: #51c448;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    color: #FFF;
    border: 0px solid;
    box-shadow: 2px 2px 6px rgba(178, 178, 178, 0.69);
    cursor: pointer;
}

.xCNFormSerach.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #51c448;
    outline: 0;
    box-shadow: 0 0 0 0rem rgba(0, 123, 255, .25);
}

.input-group-text {
    font-size: 0.8rem !important;
}

textarea .form-control{
	height : auto !important;
}

input.form-control {
    height: calc(40px + 0px) !important;
}

.xCNContent{
	margin-top : 10px;
}

.xCNTableCenter{
	line-height: 15px;
}

#oimImgMasteruser{
	border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    display: block;
    margin: 0px auto;
}

.xCNIconStatus_open , .xCNIconStatus_open>p{
	background: #c0f0bc;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 10px;
	border-radius: 50px;
}

.xCNTextClassStatus_open{
	color : #4bae44;
	display: inline-block;
}

.xCNIconStatus_close{
	background: #fad2d2;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 10px;
    border-radius: 50px;
}

.xCNTextClassStatus_close{
	color : #d96969;
	display: inline-block;
}

.xCNImageEdit{
    width: 17px;
    display: block;
    margin: 0px auto;
    cursor: pointer;
}

.xCNImageDelete{
	width: 17px;
    display: block;
    margin: 0px auto;
    cursor: pointer;
}

.xCNTdHaveImage{
	padding: 10px !important; 
}

.xCNButtonSave{
	background-color: #51c448;
    color: #FFF;
    border: 0px solid;
    box-shadow: 2px 2px 6px rgba(178, 178, 178, 0.69);
	cursor: pointer;
	width: 140px;
    height: 35px;
}


#oimImgInsertorEditUser{
	border-radius: 50%;
    width: 300px;
    height: 300px;
    text-align: center;
    display: block;
	margin: 0px auto;
	border: 1px solid #e0e0e0;
}


.xCNChooseImage{
	margin: 10px auto;
	display: block;
	padding: 5px 50px !important;
}

table thead th{
	font-weight: unset;
	font-size: 20px;
}

.xCNPagenation .page-link{
	padding: .25rem .65rem;
}

.xCNPagenation .page-item.active .page-link{
	background-color: #51c448;
    border-color: #51c448;
}

.xCNDialog_Footer{
	position: fixed;
	width: 25%;
	height: 85px;
	z-index: 999;
	margin-right: 0px;
	display: block;
	right: 15px;
	bottom: 0px;
}

.sufee-alert {
	position: fixed;
	width: 30%;
	right: 15px;
}


.modal-header{
	background: #57606F;
	color: #FFF;
	height: 50px;
    padding: 10px;
}
