.xCNMenuActive > a , .xCNMenuActive > a > i{
	color 		: #535151 !important;
	font-weight	: bold;
	width: 100%;
}

.xCNWidthFull{
	width : 100%;
}


#odvLineGroupMenu{
	width: 80%;
    background: #eaeaea;
    height: 1px;
    margin: 0px auto;
}

.xCNMenuProfile{
	font-size: 18px !important;
    padding: 10px !important;
}

.xCNNameCompanyAndBCH{
	display: inline-block; 
	font-weight: bold;
}
